<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="UserMapper">
    <select id="login" resultType="Map" parameterType="Map">
        SELECT USER_NM
          FROM C##ECODEV.COMM_USER_MST
         WHERE USER_ID = #{userId}
           AND USER_PASSWORD = #{password}
    </select>

    <select id="encodePw" resultType="String" parameterType="String">
        SELECT USER_PASSWORD
          FROM C##ECODEV.COMM_USER_MST
         WHERE USER_ID = #{userId}
    </select>

    <select id="selLoginId" resultType="int" parameterType="String">
        SELECT 1
          FROM C##ECODEV.COMM_USER_MST
         WHERE USER_ID = #{session.userId}
    </select>

    <select id="idCheck" resultType="Map" parameterType="Map">
        SELECT COUNT(*)
          FROM C##ECODEV.COMM_USER_MST
         WHERE USER_ID = #{userId}
        <if test="userNm != null">
           AND USER_NM = #{userNm}
        </if>
    </select>
    
    <insert id="insUser" parameterType="Map">
        INSERT INTO C##ECODEV.COMM_USER_MST
             (
               USER_ID
             , USER_PASSWORD
             , USER_NM
             <if test="userAddr != null">
             , USER_ADDR
             </if>
             <if test="userHpNo != null">
             , USER_HP_NO
             </if>
             , CRER_ID
             )
        VALUES
             (
               #{userId}
             , #{password}
             , #{userNm}
             <if test="userAddr != null">
             , #{userAddr}
             </if>
             <if test="userHpNo != null">
             , #{userHpNo}
             </if>
             , 'admin'
             )
    </insert>

    <select id="findId" resultType="Map" parameterType="Map">
        SELECT USER_ID
        FROM C##ECODEV.COMM_USER_MST
        WHERE USER_NM = #{userNm}
          AND USER_HP_NO = #{userHpNo}
    </select>

    <update id="updatePw" parameterType="Map">
        UPDATE C##ECODEV.COMM_USER_MST
           SET USER_PASSWORD = #{chgPw}
         WHERE USER_ID = #{userId}
           AND USER_NM = #{userNm}
        <if test="userHpNo != null">
           AND USER_HP_NO = #{userHpNo}
        </if>
        <if test="password != null">
           AND USER_PASSWORD = #{password}
        </if>
    </update>
</mapper>